{% extends "base.html" %}

{% block content %}
<div class="profile">
    <h1 class="profile_name">{{ user.name }} <small>{{ user.username }}</small></h1>
    <div class="profile_email">{{ user.email }}</div>
    <div class="profile_image">
        {% if user.image %}
        <img src="{{ user.image.url }}" alt="" />
        {% endif %}
    </div>
    <div class="profile_description">{{ user.description }}</div>
</div>

<div class="achievements">
    <h3>Achievements</h3>
    <div class="achievement_list row">
        {% for code in achievements %}
        <a href="{% url 'code_detail' canape_id=code.canape.id code_serial=code.serial %}">
            <div class="achievement col-sm-2 col-md-2">
                <div><img class="img-responsive" src="{{ code.canape.image.url }}" alt="{{ code.canape.description }}" /></div>
                <h5 class="text-center">{{ code.canape.title }}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="works">
    <h3>Works</h3>
    <a href="{% url 'canape_create' %}" class="btn btn-primary" role="button">Create</a>
    <div class="work_list row">
        {% for canape in works %}
        <a href="{% url 'canape_detail' canape_id=canape.id %}">
            <div class="work col-sm-2 col-md-2">
                <div><img class="img-responsive" src="{{ canape.image.url }}" alt="{{ canape.description }}" /></div>
                <h5 class="text-center">{{ canape.title }}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
