{% extends "base.html" %}

{% block content %}
{{ user.username }}
{{ user.email }}
{% if user.image %}
<img src="{{ user.image.url }}" alt="" />
{% endif %}
{{ user.description }}

achievements
{% for achieve in achievements %}
{{ achieve.postage.title }}
{{ achieve.postage.description }}
<img src="{{ achieve.postage.image.url }}" alt="" />
{% endfor %}

works
{% for work in works %}
{{ work.title }}
{{ work.description }}
<img src="{{ work.postage.image.url }}" alt="" />
{% endfor %}
{% endblock %}
