{% extends "base.html" %}

{% block content %}
<div class="postage">
    <h1 class="postage_title"> {{ postage.title }}</h1>
    <div class="postage_description">{{ postage.description }}</div>
    <div class="postage_quantity">
        {% if postage.is_limit %}
        Residual quantity: {{ residual_quantity }}/{{ postage.quantity }}
        {% endif %}
    </div>
    <div class="postage_image">
        <img src="{{ postage.image.url }}" alt="" />
    </div>
</div>
{% if request.user == postage.maker %}
<a class="btn btn-primary" href="/edit/{{ postage.id }}" role="button">Edit</a>
{% endif %}
{% endblock %}
